#cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    margin: 20px;
}

.landing-image{
    width: 600px;
    height: 400px;
<<<<<<< HEAD
}


=======
}
>>>>>>> 70ddb4693f380866404fa600d738bbb356cda273
